	
<div class="fullwidth-path">
			<div class="fullwidth-section-bg bg-<%= rightleft(index) %>" style="background-image: url('https://cms.gophercon.com<%= hotel.PhotoURL %>');"></div>
			<div class="col-sm-6 <%= offset(index) %> align-<%= rightleft index %> fullwidth-column">
				<article>
					<h3>
          <%= if (hotel.Onsale) { %>
            <a href="<%= hotel.BlockCode %>"><%= hotel.Name %></a>
          <% } else { %>
          <span><%= hotel.Name %></span>
          <% } %>
          </h3>
					<p><small class="text-alt"><span class="highlight"><a href="https://goo.gl/maps/B46mFQjQgHA2"><%= hotel.Address %>, <%= hotel.City %></span></small></p></a>
							<p><%= hotel.Description %></p>
					<br />
					<div class="speaker">
						<ul class="speaker-socials align-<%= rightleft(index) %>">
							<li><a href="#"><span class="fa fa-dollar"></span></a><span class="highlight">  <%= hotel.RoomRate %></span></small>
								</p>
							</li><%= hotel.Phone %></span></small>
								</p>
							</li>
						</ul>
					</div>
          <%= if (hotel.Onsale) { %>
					<a href="<%= hotel.BlockCode %>" class="btn btn-sm btn-outline-clr" style="margin: 30px 0 0">Reserve this Hotel</a>
          <% } else { %>
					<span class="btn btn-sm btn-outline-clr" style="margin: 30px 0 0">No Inventory Available</span>
          <% } %>
				</article>
			</div>
		</div>
