.base-clr-bd,
.preloader-mask .preloader .spin,
.btn,
button:not(.default),
input[type=button]:not(.default),
input[type=submit]:not(.default),
.dropdown-toggle,
.dropdown-menu,
.well,
.form .form-control,
.form.form-outline.form-outline-black .btn.btn-outline:hover,
.form.form-outline.form-outline-black .btn.btn-outline:active,
textarea,
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=email],
input[type=password],
.flex-manual .switch.flex-active,
.team-member .socials-block > li a,
.cart-checkout-navigation-list > li.active .cart-checkout-navigation-list-item-link,
.cart-checkout-navigation-list-item-link:after,
.payment-method .pseudo-radio,
.navigation-header .navigation-bar.navigation-bar-left > li.active > a,
.navigation-bar > .dropdown:not(.featured) > .dropdown-toggle:before,
.navigation-header .navigation-bar li.dropdown:not(.featured),
.navigation-header.white-dropdown .navigation-bar li.dropdown:not(.featured),
.navigation-header .navigation-bar li.dropdown:not(.featured) > .dropdown-menu > .dropdown,
.navigation-header.white-dropdown .navigation-bar li.dropdown:not(.featured) > .dropdown-menu > .dropdown,
.fixed-menu .navigation-header .btn.btn-outline,
.fixed-menu .navigation-header .navigation-bar.navigation-bar-left > li.active:not(.featured) > a,
.fixed-menu .navigation-header.white-dropdown .navigation-bar.navigation-bar-left > li.active:not(.featured) > a,
.navigation-header.white-header .btn.btn-outline,
.form-register.form-register-small .form-control {
  border-color: #39c8b7;
}
.base-clr-bg,
.btn:hover,
button:not(.default):hover,
input[type=button]:not(.default):hover,
input[type=submit]:not(.default):hover,
.btn:focus,
button:not(.default):focus,
input[type=button]:not(.default):focus,
input[type=submit]:not(.default):focus,
.btn.hovered,
button:not(.default).hovered,
input[type=button]:not(.default).hovered,
input[type=submit]:not(.default).hovered,
.btn.btn-solid,
button:not(.default).btn-solid,
input[type=button]:not(.default).btn-solid,
input[type=submit]:not(.default).btn-solid,
.btn.btn-outline-color:hover,
button:not(.default).btn-outline-color:hover,
input[type=button]:not(.default).btn-outline-color:hover,
input[type=submit]:not(.default).btn-outline-color:hover,
.btn.btn-outline-color:focus,
button:not(.default).btn-outline-color:focus,
input[type=button]:not(.default).btn-outline-color:focus,
input[type=submit]:not(.default).btn-outline-color:focus,
.btn.btn-outline-color:active,
button:not(.default).btn-outline-color:active,
input[type=button]:not(.default).btn-outline-color:active,
input[type=submit]:not(.default).btn-outline-color:active,
.btn.btn-outline-color.hovered,
button:not(.default).btn-outline-color.hovered,
input[type=button]:not(.default).btn-outline-color.hovered,
input[type=submit]:not(.default).btn-outline-color.hovered,
.btn.btn-outline-color.pressed,
button:not(.default).btn-outline-color.pressed,
input[type=button]:not(.default).btn-outline-color.pressed,
input[type=submit]:not(.default).btn-outline-color.pressed,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li.active a,
.dropdown-menu li.active a:hover,
.dropdown-menu li.active a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus,
.nav-tabs.alt > li > a:hover,
.nav-tabs.alt > li > a:active,
.nav-tabs.alt > li > a:focus,
.nav-tabs.alt > li.active a,
.panel-group .panel .panel-heading a,
.table > thead > tr > th,
.thumb-wrapper .overlay,
.progress-wrapper .progress .progress-bar,
.team-member .overlay-wrapper:before,
.team-member .socials-block > li a,
.long-block,
.featured-tab li.active > a .tab-info,
.featured-tab li.active > a .tab-icon,
.package-column:hover,
.package-column.featured,
.post-thumbnail a:after,
.product-list.material-view .product:hover .product-price-wrapper:before,
.product-slider .bx-controls-direction a:hover,
.cart-checkout-navigation-list > li:hover .cart-checkout-navigation-list-item-link:before,
.cart-checkout-navigation-list > li.active .cart-checkout-navigation-list-item-link:before,
.cart-list thead th:before,
.payment-confirm .table thead th:before,
.cart-list-item-meta:before,
.cart-list-item-remove,
.payment-method:before,
.payment-method .pseudo-radio:after,
.navigation-header .navigation-toggle .icon-bar,
.fixed-menu .navigation-header .btn.btn-outline:hover,
.fixed-menu .navigation-header .btn.btn-outline:active,
.navigation-header.white-header .btn.btn-outline:hover,
.navigation-header.white-header .btn.btn-outline:active,
.static-header.waiting-list-version ul li:before,
.color-landing-page .static-header,
.color-landing-page .newsletter-section,
.color-landing-page .feedback-section,
.color-landing-page .footer {
  background-color: #39c8b7;
}
.base-clr-txt,
.highlight,
a,
.fa,
.icon,
blockquote:before,
blockquote:after,
.btn,
button:not(.default),
input[type=button]:not(.default),
input[type=submit]:not(.default),
.btn.btn-outline:active,
button:not(.default).btn-outline:active,
input[type=button]:not(.default).btn-outline:active,
input[type=submit]:not(.default).btn-outline:active,
.btn.btn-outline:hover,
button:not(.default).btn-outline:hover,
input[type=button]:not(.default).btn-outline:hover,
input[type=submit]:not(.default).btn-outline:hover,
.btn.btn-outline:focus,
button:not(.default).btn-outline:focus,
input[type=button]:not(.default).btn-outline:focus,
input[type=submit]:not(.default).btn-outline:focus,
.btn.btn-outline.hovered,
button:not(.default).btn-outline.hovered,
input[type=button]:not(.default).btn-outline.hovered,
input[type=submit]:not(.default).btn-outline.hovered,
.btn.btn-outline.pressed,
button:not(.default).btn-outline.pressed,
input[type=button]:not(.default).btn-outline.pressed,
input[type=submit]:not(.default).btn-outline.pressed,
.btn.btn-no-border:hover,
button:not(.default).btn-no-border:hover,
input[type=button]:not(.default).btn-no-border:hover,
input[type=submit]:not(.default).btn-no-border:hover,
.btn.btn-no-border:active,
button:not(.default).btn-no-border:active,
input[type=button]:not(.default).btn-no-border:active,
input[type=submit]:not(.default).btn-no-border:active,
.btn.btn-no-border:focus,
button:not(.default).btn-no-border:focus,
input[type=button]:not(.default).btn-no-border:focus,
input[type=submit]:not(.default).btn-no-border:focus,
.btn.btn-no-border.hovered,
button:not(.default).btn-no-border.hovered,
input[type=button]:not(.default).btn-no-border.hovered,
input[type=submit]:not(.default).btn-no-border.hovered,
.btn.btn-no-border.pressed,
button:not(.default).btn-no-border.pressed,
input[type=button]:not(.default).btn-no-border.pressed,
input[type=submit]:not(.default).btn-no-border.pressed,
.well h1,
.well h2,
.well h3,
.well h4,
.well h5,
.well h6,
.well .heading,
.well .icon,
.form.form-outline.form-outline-black .btn.btn-outline:hover,
.form.form-outline.form-outline-black .btn.btn-outline:active,
.team-member .name,
.team-member .socials-block > li .fa,
.featured-tab li > a .tab-title,
.package-column .package-price,
.countdown .counter:after,
.countdown .counter .stat-info,
.countdown .counter .stat,
.post-title a:hover,
.post-meta span > a:hover,
.post-meta span > a:active,
.post-meta span > a:focus,
.product-list.material-view .product-controls .btn:hover,
.product-list.material-view .product-controls .btn:active,
.product-list.material-view .product-controls .btn:focus,
.cart-checkout-navigation-list > li:hover .cart-checkout-navigation-list-item-link,
.cart-checkout-navigation-list > li.active .cart-checkout-navigation-list-item-link,
.cart-list-item-amount,
.billing-details-form .result .cart-ammount,
.navigation-header .navigation-bar > li:not(.featured) > a:hover,
.navigation-header .navigation-bar.navigation-bar-left > li.active > a,
.navigation-header .navigation-bar li.dropdown:not(.featured).opened > .dropdown-toggle,
.navigation-header.white-dropdown .navigation-bar li.dropdown:not(.featured).opened > .dropdown-toggle,
.navigation-header .navigation-bar li.dropdown:not(.featured) > .dropdown-menu > .dropdown.opened > .dropdown-toggle,
.navigation-header.white-dropdown .navigation-bar li.dropdown:not(.featured) > .dropdown-menu > .dropdown.opened > .dropdown-toggle,
.navigation-bar .dropdown-menu > li:hover > a,
.fixed-menu .navigation-header .btn.btn-outline,
.fixed-menu .navigation-header .navigation-bar.navigation-bar-left > li.active:not(.featured) > a,
.fixed-menu .navigation-header.white-dropdown .navigation-bar.navigation-bar-left > li.active:not(.featured) > a,
.navigation-header.white-header .btn.btn-outline,
.footer .list-inline li .icon,
.footer .list-unstyled li .icon,
.social-icons li .social,
.color-landing-page .guarantee-block,
.color-landing-page .guarantee-section .fa,
.color-landing-page .features-section .fa,
.color-landing-page .guarantee-section .icon,
.color-landing-page .features-section .icon,
.package-column:hover > .package-detail .btn.btn-outline-color:hover,
.package-column.featured > .package-detail .btn.btn-outline-color:hover,
.package-column:hover > .package-detail .btn.btn-outline-color:focus,
.package-column.featured > .package-detail .btn.btn-outline-color:focus {
  color: #39c8b7;
}
::selection {
  background-color: #39c8b7;
}
::-moz-selection {
  background-color: #39c8b7;
}
