<section style="z-index: 3;">
    <header class="header">
        <div class="header-wrapper">
            <div class="container">
                <div class="col-xs-12 visible-xs navigation-header">
                    <a href="https://tito.io" class="buy-btn">Buy Tickets</a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation8" aria-expanded="false" aria-controls="navigation3">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="col-xs-12 navigation-container">
                    <div id="navigation8" class="navbar-collapse collapse">
                        <ul class="navigation-list pull-left light-text">
                            <li class="navigation-item"><a href="/about" class="navigation-link">About</a></li>
                            <li class="navigation-item"><a href="/schedule" class="navigation-link">Schedule</a></li>
                            <li class="navigation-item"><a href="/speakers" class="navigation-link">Speakers</a></li>
                            <li class="navigation-item"><a href="/prices" class="navigation-link">Prices</a></li>
                            <li class="navigation-item"><a href="/sponsors" class="navigation-link">Sponsors</a></li>
                            <li class="navigation-item"><a href="/contacts" class="navigation-link">Contacts</a></li>
                            <li class="navigation-item dropdown">
                                <a class="navigation-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                <ul class="dropdown-menu">
                                    <li class="navigation-item"><a href="/schedule" class="navigation-link">Schedule</a></li>
                                    <li class="navigation-item"><a href="/speakers" class="navigation-link">Speakers</a></li>
                                    <li class="navigation-item"><a href="/prices" class="navigation-link">Prices</a></li>
                                    <li class="navigation-item"><a href="/contacts" class="navigation-link">Contacts</a></li>
                                </ul>
                            </li>
                        </ul>

                        <a href="https://tito.io" class="hidden-xs pull-right buy-btn">Buy Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
