
	<section class="section" style="padding: 100px 0 30px;">

		<div class="container align-center">

        {{# each p.Speakers as |speaker| }}
			<div class="col-sm-6 align-center img-column">

				<img src="https://cms.gophercon.com{{speaker.PhotoURL}}" alt="" />

			</div>
      {{/each}}



			<div class="col-sm-6 align-left">

				  <article style="max-width: 480px;">

           {{#each p.Speakers as |speaker| }}
					  <h4><span class="highlight" >{{speaker.TalkType}}</span></h4>
{{/each}}
           {{#each p.Speakers as |speaker| }}
            <h3>{{speaker.FirstName}} {{speaker.LastName}}</h3>
            {{/each}}

           {{#each p.Speakers as |speaker| }}
					  <h4><span class="highlight" >{{p.Presentation.Title}}</span></h4>
{{/each}}
					<p>{{p.Presentation.LongDescription}}</p>

				</article>

			</div>

		</div>

	</section>
