	<section class="section" style="padding: 100px 0 30px;">

		<div class="container align-center">

	<%= for (speaker) in w.Speakers { %>
			<div class="col-sm-6 align-center img-column">

				<img src="https://cms.gophercon.com<%= speaker.PhotoURL %>" alt="" />

			</div>
			<% } %>


			<div class="col-sm-6 align-left">

				  <article style="max-width: 480px;">

		<%= for (speaker) in w.Speakers {  %>
		<h4><span class="highlight" ><%= speaker.TalkType %></span></h4>

		<h3><%= speaker.FirstName %> <%= speaker.LastName %></h3>

		<% } %>

		<h4><span class="highlight" ><%= w.Workshop.Title %></span></h4>
		<span class="highlight" >July 12, 2017 &mdash; 9A - 5P </span>
		<p><%= w.Workshop.ShortDescription %></p>

		<a href="<%= w.Workshop.TicketLink %>" class="btn btn-lg btn-outline-clr">$295 - Register Now</a>
				</article>

			</div>

		</div>

	</section>

