/***
Ticket Page
***/

@import '../global/_variables'; // global variables.
@import '../global/components/_mixins'; // global mixings.

.app-ticket{
	overflow:hidden;

	h3{
		margin: 0 0 15px 0;
		font-size:14px;
		font-weight: bold;
	}

	h3 i {
		color: #a1acb7;
		margin-right: 5px;
	}

	p{
		margin: 0;
	}
}

.app-ticket-details{

	.portlet-body {
		.row{
			margin-bottom: 30px;
		}
	}

	.ticket-line{
		width:100%;
		height: 1px;
		border-bottom: 1px solid;
		border-color: $general-panel-border-color;
		margin-bottom: 30px;
	}

	.ticket-id,
	.ticket-title{
		display:inline-block;
		font-size:16px;
		margin-right:30px;
	}

	.ticket-cust{

		a:hover{
			text-decoration: none;
		}
	}

	.ticket-reply-msg{
		width:100%;
		height:7em;
		border-color:$general-panel-border-color;
		outline: none;
	}

	.ticket-assign,
	.ticket-status{
		padding:5px;
		border:1px solid;
		border-color:$general-panel-border-color;
		outline: none;
	}

}

.app-ticket-config{

	.ticket-counter{
		text-align: center;

		>h4{
			font-size:24px;
		}

		>p{

		}
	}
}

@media (max-width:991px){

	.app-ticket-details{
		.ticket-margin{
			margin-top:30px;
		}
	}
}

@media (max-width:480px){

	.app-ticket-config{
		.ticket-counter{
			margin-bottom:30px;
		}
	}
}