<h1>Registration <span class="text-highlight">opens</span> in</h1>

<div class="countdown clearfix">
  <div class="countdown-block">
    <span id="js-countdown-days">00</span>
    <aside>days</aside>
  </div>
  <div class="countdown-block">
    <span id="js-countdown-hours">00</span>
    <aside>hours</aside>
  </div>
  <div class="countdown-block">
    <span id="js-countdown-minutes">00</span>
    <aside>minutes</aside>
  </div>
  <div class="countdown-block">
    <span id="js-countdown-seconds">00</span>
    <aside>seconds</aside>
  </div>
</div>

<h2>Get notified when we <span class="text-highlight">launch</span>:</h2>

{{ partial "mailchimp_form.html" }}

<h2>
  Submit a
  <a href="https://www.papercall.io/gophercon2017" class="text-highlight">
    speaking, tutorial, or seminar proposal
  </a>
  .
</h2>
