/*--------------------------------------------------
    [Container]
----------------------------------------------------*/

.page-container-bg-solid {
    background: #f1f3fa !important;
}

.container-lf-space {
    padding-left: 30px;
    padding-right: 30px;
}

/*** Breadcrumbs ***/
.breadcrumbs {
    overflow: hidden;
    padding: 30px 15px;
    margin-bottom1: 35px;

    .breadcrumbs-title {
        float: left;
        font-size: 20px;
        color: #3e4f5e;
        font-weight: 600;
        margin: 0;
    }

    .breadcrumbs-list {
        float: right;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        > li {
            display: inline-block;
            font-size: 14px;

            > a {
                color: #8e9daa;

                &:hover {
                    color: #5b9bd1;
                    text-decoration: none;
                }
            }

            + li {
                &:before {
                    position: relative;
                    top: -2px;
                    font-size: 6px;
                    padding: 0 8px 0 5px;
                    color: #8e9daa;
                    content: "\f111";
                    font-family: FontAwesome;
                }
            }
        }
    }
} 
