/*****************************************
 METRONIC MATERIAL DESIGN STYLE COMPONENTS 
******************************************/

$theme-style: 'rounded';    
$theme-type:  'material-design';   

@import '_components';    