/*********************************
 METRONIC ROUNDED STYLE COMPONENTS 
*********************************/

// Global settings
$theme-style: 'rounded'; 
$theme-type:  'default';   

@import '_components';   