/******************************
 3RD PARTY PLUGIN CUSTOMIZATION 
******************************/

// Global settings
$theme-style: 'square'; 
$theme-type:  'material-design'; 

@import '_plugins';   