<html>
<head>
  <meta charset="utf-8">
  <title>GopherCon 2017</title>
  <link rel="stylesheet" href="/assets/application.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" type="text/css" />
</head>
<body>
  <div class="page-header">
    <div class="page-header-colorbar clearfix">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="page-header-navigation">
      <div class="container">
        <a href="#">Tickets</a>
        <a href="#">Call for papers</a>
      </div>
    </div>
  </div>
  {{ yield }}
  <script src="/assets/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/application.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
