<div class="homepage-hero">
  <div class="homepage-hero-background">
    <video autoplay muted loop>
      <source src="/assets/videos/homepage_background.webm" type="video/webm">
      <source src="/assets/videos/homepage_background.mp4" type="video/mp4">
    </video>
  </div>
  <div class="homepage-hero-overlay"></div>
  <div class="homepage-hero-content">
    <img src="/assets/images/logo.png" />
    <p>Dates - Location</p>
    <h2>Largest event in the world dedicated<br />to the Go programming language.</h2>
  </div>
</div>

<div class="homepage-calltoaction">
  <div class="container clearfix">
    <article>
      <strong>Tickets available soon!</strong><br />
      Leave your email and get notified:
      <form>
        <input type="text" placeholder="e.g., john.doe@e.corp" />
        <button type="submit" class="btn">Subscribe</button>
      </form>
    </article>

    <article>
      Interested in speaking?<br />
      Giving a tutorial or seminar?<br />
      <a class="btn" href="#">Submit one!</a>
    </article>
  </div>
</div>
