<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Home</title>

	<meta name="description" content="GopherCon is the world's largest gathering of Go programmers, held every year in Denver, Colorado.">
	<meta name="keywords" content="go,golang,gophercon,go conference">
	<meta name="author" content="Gopher Academy">

	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.jpg">

	<link rel="stylesheet" type="text/css" href="assets/css/custom-animations.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/style-blue-color.css" />

	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="preloader-mask">
		<div class="preloader"></div>
	</div>

	<!-- begin template content -->
	{{ yield }}
	<!-- end template content -->
	
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js?ver=1"></script>
	<![endif]-->
	<!--[if (gte IE 9) | (!IE)]><!-->
		<script type="text/javascript" src="assets/js/jquery-2.1.4.min.js?ver=1"></script>
	<!--<![endif]-->

	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

	<!--
	<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="assets/js/toastr.min.js"></script>
	-->

	<script type="text/javascript" src="assets/js/jquery.plugin.js"></script>
	<script type="text/javascript" src="assets/js/jquery.countdown.js"></script>
	<script type="text/javascript" src="assets/js/ventcamp.js"></script>
</body>
</html>
