	<section class="hero-section  bg-cover comming-soon window-height light-text overlay">
		<div class="heading-block centered-block align-center">
			<div class="container">
				<h1>Registration opens in</h1>
				<div class="row counters-wrapper countdown">
					<div class="counter-block counter-block-solid">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count">{dnn}</span>

								<p class="title">days</p>
							</div>
						</div>
					</div>

					<div class="counter-block counter-block-solid">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count">{hnn}</span>

								<p class="title">hours</p>
							</div>
						</div>
					</div>

					<div class="counter-block counter-block-solid">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count">{mnn}</span>

								<p class="title">minutes</p>
							</div>
						</div>
					</div>

					<div class="counter-block counter-block-solid">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count">{snn}</span>

								<p class="title">seconds</p>
							</div>
						</div>
					</div>
				</div>



				<h5><a href="http://eepurl.com/ctVEzL"> Subscribe to get notified when we launch our CFP.</a></h5>
				<h5>Submit a <span class="highlight"><a href="https://www.papercall.io/cfps/274/submissions/new">speaking, tutorial, or seminar proposal</a></span></h5>
			</div>
		</div>
	</section>

