	<section class="hero-section bg4 bg-cover comming-soon window-height light-text overlay">
		<div class="heading-block centered-block align-center">
			<div class="container">
				<h1>Registration <span class="highlight">opens</span> in</h1>
				<div class="row counters-wrapper countdown">
					<div class="counter-block counter-block-solid">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count">{dnn}</span>

								<p class="title">days</p>
							</div>
						</div>
					</div>

					<div class="counter-block counter-block-solid">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count">{hnn}</span>

								<p class="title">hours</p>
							</div>
						</div>
					</div>

					<div class="counter-block counter-block-solid">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count">{mnn}</span>

								<p class="title">minutes</p>
							</div>
						</div>
					</div>

					<div class="counter-block counter-block-solid">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count">{snn}</span>

								<p class="title">seconds</p>
							</div>
						</div>
					</div>
				</div>

<form action="//gophercon.us7.list-manage.com/subscribe/post?u=52c683df6e3b7219db6f8d98e&amp;id=19257627f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  target="_blank" class="form row" novalidate>
					<fieldset class="col-sm-8">
						<input id="email" name="email" type="email" placeholder="email@email.com">
					</fieldset>

					<fieldset class="col-sm-4">
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm btn-outline-clr">
					</fieldset>

	<div id="mce-responses" >
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				</form>

				<h5>Get notified when we <span class="highlight">launch</span></h5>
				<h5>Submit a <span class="highlight"><a href="https://www.papercall.io/cfps/274/submissions/new">speaking, tutorial, or seminar proposal</a></span></h5>
			</div>
		</div>
	</section>

<!-- Begin MailChimp Signup Form -->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

