

	<section class="section" id="hotels" style="padding: 100px 0 30px;">
		<div class="container">
			<div class="col-sm-6 align-center img-column">
				<img src="/assets/public/img/imac-371x412.png" alt="" />
			</div>

			<div class="col-sm-6 align-left">
				<article style="max-width: 480px;">
					<h3>LODGING OPTIONS</h3>
					<p><small class="text-alt"><span class="highlight">Stay in style</span></small></p>
					<p>To receive the Group room rate at our conference hotels, be sure to mention the <span class="highlight">GopherCon room block.</span> Rates will be honored until the block sells out.</p>
				</article>
			</div>
		</div>
	</section>


<section id="hotels" class="fullwidth-section">  
{{#each hotels as |hotel|}}
      {{ partial "hotels/hotel.html" hotel=hotel}}
  {{/each}}
</section>

