	<section class="section align-center">
		<div class="container">
			<h5 class="heading-alt">Lodging Options</h5>
			<p class="text-alt">Stay in <span class="highlight">style</span></p>
			<br />
			<br />

			<div class="col-sm-6">
				<div class="speaker">
					<div class="photo-wrapper"><img src="/assets/public/img/hyatt.jpg" alt="John Doe" class="img-responsive"></div>
					<h3 class="name">ALEC KROSOVIC</h3>
					<p class="text-alt"><small>Project Manager</small></p>
					<p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					<ul class="speaker-socials">
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

