<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>GopherCon 2017</title>

	<meta name="description" content="GopherCon 2017 is the first and largest Go conference in the world.  Join golang developers from across the globe in Denver for 3 days of amazing learning, community events and fun.">
	<meta name="keywords" content="gophercon, go, golang, go conference">
	<meta name="author" content="Gopher Academy">

	<link rel="shortcut icon" href="/assets/public/img/favicon.ico">
	<link rel="apple-touch-icon" href="/assets/public/img/apple-touch-icon.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/public/img/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/public/img/apple-touch-icon-114x114.jpg">

	<link rel="stylesheet" type="text/css" href="/assets/public/css/custom-animations.css" />
	<link rel="stylesheet" type="text/css" href="/assets/public/css/style.css" />

	<!--[if lt IE 9]>
		<script src="/assets/public/js/html5shiv.js"></script>
		<script src="/assets/public/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

	<section id="hero" class="hero-section bg1 bg-cover window-height light-text">
		<ul class="socials-nav">
			<li class="socials-nav-item"><a href="https://twitter.com/GopherCon/"><span class="fa fa-twitter"></span></a></li>
			<li class="socials-nav-item"><a href="https://www.facebook.com/gophercon/"><span class="fa fa-facebook"></span></a></li>
			<li class="socials-nav-item"><a href="https://github.com/gophercon"><span class="fa fa-github"></span></a></li>

			<li class="socials-nav-item"><a href="https://plus.google.com/events/cd4ge8g9t9mbmvgngpgli4qj0ls"><span class="fa fa-google-plus"></span></a></li>
			<li class="socials-nav-item"><a href="https://www.instagram.com/explore/tags/gophercon/"><span class="fa fa-instagram"></span></a></li>
		</ul>
		<div class="heading-block centered-block align-center">
			<div class="container">
				<h5 class="heading-alt" style="margin-bottom: 8px;"><span class="fa fa-calendar-o base-clr-txt"></span>July 12th–15th, 2017 <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>DENVER, CO</h5>
				<img src="/assets/public/img/gophercon_logo_main.png" alt="" class="centered-block align-center" />
				<!--<h1 class="extra-heading">GopherCon</h1>-->
				<!--<h6 class="thin base-font">GopherCon 2017 will be in Denver, Colorado again in 2017. The conference starts on July 13th, with an optional workshop day on the 12th. Our final day the 15th is the <strong>"Community Day"</strong></h6>-->
				<div class="btns-container">
					<a href="https://ti.to/gophercon/gophercon-2017" class="btn btn-link">GET TICKETS</a>
					<a href="#" class="btn btn-outline btn-md" data-modal-link="0">VIDEO</a>
				</div>
			</div>
		</div>
	</section>
	<%= partial("partials/header.html") %>
	<section id="about" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-multimedia-12"></span>
			<h5 class="text-alt">GopherCon 2017 will return to Denver, Colorado. The conference is July 13th-15th, with an optional workshop day on the 12th.<br/> <span class="highlight">Our final day, the 15th, is our "Community Day".</span></h5>
			<br/>
			<br/>

			<div class="tabs-wrapper tabs-horizontal">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#horizontal_tab1" data-toggle="tab">
							<h6 class="heading-alt"><span class="fa fa-code"></span> General Info</h6>
						</a>
					</li>
					<li>
						<a href="#horizontal_tab2" data-toggle="tab">
							<h6 class="heading-alt"><span class="fa fa-rocket"></span> Workshops</h6>
						</a>
					</li>
					<li>
						<a href="#horizontal_tab3" data-toggle="tab">
							<h6 class="heading-alt"><span class="fa fa-external-link"></span> Sponsor Info</h6>
						</a>
					</li>
				</ul>

				<div class="tab-content">
					<div id="horizontal_tab1" class="tab-pane fade active in">
						<div class="col-sm-5 img-column">
							<img src="/assets/public/img/gophercon_shuttle.png" alt="" class="img-responsive" />
						</div>
						<div class="col-sm-7 align-left">
							<h2>The Largest Go Conference in the World</h2>
							<p>GopherCon is the <span class="highlight">original</span> Go conference.</p>
							<p>GopherCon started in 2014, with an amazing first year attendance of over 700 people. Since then, we've doubled in attendance. We expect to sell out early this year, with a maximum capacity of 1500 people.
							<span class="highlight">Don't wait until the last minute to buy your tickets.</span> We'd hate for you to be sad.</p>
						</div>
					</div>

					<div id="horizontal_tab2" class="tab-pane fade">
						<div class="col-sm-12">
							<h6>Workshops</h6>

			<%= for (w) in homepage.Workshops { %>
			<%= for (speaker) in w.Speakers { %>
			<div class="col-sm-4">
				<div class="speaker">
					<div class="photo-wrapper rounded"><a href="/workshops/<%=w.Workshop.ID%>"><img src="https://cms.gophercon.com<%= speaker.PhotoURL %>" alt="<%= speaker.FirstName %> <%= speaker.LastName %>" class="img-responsive" width="125" height="125"></a></div>
					<h3 class="name"><a href="/workshops/<%= w.Workshop.ID %>"><%= speaker.FirstName %> <%= speaker.LastName %></a></h3>
					<p class="about"><a href="/workshops/<%= w.Workshop.ID %>"><%= speaker.TalkType %></a></p>
				<p class="about"><a href="/workshops/<%= w.Workshop.ID %>"><%= w.Workshop.Title%></a></p>
					<p class="about"><%= w.Workshop.ShortDescription %></p>
					<ul class="speaker-socials">
						<%= if (speaker.Facebook ==  "" ) { %> <% } else { %> <li><a href="https://facebook.com/<%= speaker.Facebook %>"><span class="fa fa-facebook"></span></a></li> <% } %>
						<%= if(speaker.Twitter == "") { %> <% } else {  %> 					<li><a href="https://twitter.com/<%= speaker.Twitter %>"><span class="fa fa-twitter"></span></a></li><% } %>

						<% if (speaker.Linkedin == "") { %> <% } else { %> <li><a href="https://linkedin.com/<%= speaker.Linkedin %>"><span class="fa fa-linkedin"></span></a></li> <% } %>
						<%= if (speaker.Googleplus == "") { %> <% } else { %>		<li><a href="https://plus.google.com/<%= speaker.Googleplus %>"><span class="fa fa-google-plus"></span></a></li> <% } %>

						<%= if ( speaker.Github  == "") {   %> <% } else { %>		<li><a href="https://github.com/<%= speaker.Github %>"><span class="fa fa-github"></span></a></li> <% } %> 
			</ul>

					<p class="about"><a href="/workshops/<%= w.Workshop.ID %>">More Information</a></p>
					</div>
				</div>

				<% } %>
				<% } %>
						</div>


					</div>

					<div id="horizontal_tab3" class="tab-pane fade">
						<div class="col-sm-5 img-column">
							<img src="/assets/public/img/gophercon_shuttle.png" alt="" class="img-responsive" />
						</div>
						<div class="col-sm-7 align-left">
							<h6>Become a Sponsor</h6>
							<p>Be seen by the most influential developers and decision makers in the Go community. Sponsorship is your opportunity to tell the world about your products and services, and to show support for the growing Go community.</p>
							<ul>
								<li>Most of our sponsors recruit new employees at GopherCon and there are several unique and interesting ways to sponsor!</li>
								<li>Email <a href="mailto:gophercon@gopheracademy.com">gophercon@gopheracademy.com</a> for more information.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="counters" class="section align-center overlay bg-cover bg5 light-text">
		<!-- Countdown start -->
		<div class="row counters-wrapper countdown">
			<div class="col-sm-3">
				<div class="counter-block counter-block-no-border counter-block-white has-separator">
					<div class="counter-box">
						<div class="counter-content">
							<span class="count">{dnn}</span>

							<p class="title">days</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="counter-block counter-block-no-border counter-block-white has-separator">
					<div class="counter-box">
						<div class="counter-content">
							<span class="count">{hnn}</span>

							<p class="title">hours</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="counter-block counter-block-no-border counter-block-white has-separator">
					<div class="counter-box">
						<div class="counter-content">
							<span class="count">{mnn}</span>

							<p class="title">minutes</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="counter-block counter-block-no-border counter-block-white">
					<div class="counter-box">
						<div class="counter-content">
							<span class="count">{snn}</span>

							<p class="title">seconds</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!--<h6 class="thin base-font">Massive conference about <strong>web developement</strong></h6>-->

		<!-- countdown end -->
	</section>

	<section id="speakers" class="speakers align-center">
		<div class="container">
			<span class="icon section-icon icon-faces-users-04"></span>
			<h3>Speakers</h3>
			<p>GopherCon is proud of our tradition of bringing exciting topics from a diverse range of speakers to the big stage.<br/> Each year, we strive to spotlight new and interesting topics from a wide variety of speakers to create a program that is rich, interesting,
			and diverse.</p>
			<br />
			<br />

			<%= for (p) in homepage.Presentations  { %>

			<%= for (speaker) in p.Speakers { %>
			<div class="col-sm-4">
				<div class="speaker">
					<div class="photo-wrapper rounded"><a href="/speakers/<%=p.Presentation.ID%>"><img src="https://cms.gophercon.com<%= speaker.PhotoURL %>" alt="<%= speaker.FirstName %> <%= speaker.LastName %>" class="img-responsive" width="125" height="125"></a></div>
					<h3 class="name"><a href="/speakers/<%= p.Presentation.ID %>"><%= speaker.FirstName %> <%= speaker.LastName %></a></h3>
					<p class="about"><a href="/speakers/<%= p.Presentation.ID %>"><%= speaker.TalkType %></a></p>
					<ul class="speaker-socials">
						<%= if (speaker.Facebook ==  "" ) { %> <% } else { %> <li><a href="https://facebook.com/<%= speaker.Facebook %>"><span class="fa fa-facebook"></span></a></li> <% } %>
						<%= if(speaker.Twitter == "") { %> <% } else {  %> 					<li><a href="https://twitter.com/<%= speaker.Twitter %>"><span class="fa fa-twitter"></span></a></li><% } %>

						<% if (speaker.Linkedin == "") { %> <% } else { %> <li><a href="https://linkedin.com/<%= speaker.Linkedin %>"><span class="fa fa-linkedin"></span></a></li> <% } %>
						<%= if (speaker.Googleplus == "") { %> <% } else { %>		<li><a href="https://plus.google.com/<%= speaker.Googleplus %>"><span class="fa fa-google-plus"></span></a></li> <% } %>

						<%= if ( speaker.Github  == "") {   %> <% } else { %>		<li><a href="https://github.com/{{speaker.Github}}"><span class="fa fa-github"></span></a></li> <% } %> 
			</ul>
					</div>
				</div>

				<% } %>
				<% } %>
	</div>
	</section>



	<section id="sign_up" class="section bg-cover overlay bg4 light-text align-center">
		<div class="container">
			<h2><span class="highlight">Newsletter</span> Sign Up</h2>
			<small>No Spam - Only latest news, ticket, and activity updates</small>
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form class="subscribe themebgpale" action="//gophercon.us7.list-manage.com/subscribe/post?u=52c683df6e3b7219db6f8d98e&amp;id=19257627f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_52c683df6e3b7219db6f8d98e_19257627f6" tabindex="-1" value=""></div>


</div>

<button class="btn btn-sm btn-outline-clr" id="mc-embedded-subscribe"  type="submit">Subscribe now &raquo;</button>
<!--End mc_embed_signup-->
</form>
			</div>
		</div>
	</section>
	<section id="prices" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-shopping-04"></span>
			<h3>Tickets</h3>
			<p class="text-alt">Get yours <span class="highlight"><a href="https://ti.to/gophercon/gophercon-2017">while they're still available</span></p>
			</a>
			<br/>
			<br/>

			<div class="row">
				<div class="col-sm-4">
					<div class="package-column">
						<h6 class="package-title">GopherCon Hoodie!</h6>
						<div class="package-price">
							<span class="currency">$</span>50
						</div>
						<div class="package-detail">
							<ul>
								<li><span class="fa fa-check check-icon"></span>Hoodies available as an upgrade while purchasing a normal ticket. This ticket exists in the case of expense reasons you need to purchase them separately.</li>
								<li><span class="fa fa-check check-icon"></span>All proceeds are used for our diversity/scholarship fund.</li>
							</ul>
						</div>
						<a href="https://ti.to/gophercon/gophercon-2017" class="btn btn-lg btn-outline-clr">Buy now</a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="package-column special-column">
						<span class="sale-label uppercase">Hot!</span>
						<h6 class="package-title">General Admission</h6>
						<div class="package-price">
							<span class="currency">$</span>695
						</div>
						<div class="package-detail">
							<ul>
								<li><span class="fa fa-check check-icon"></span>All 3 days of the conference</li>
								<li><span class="fa fa-check check-icon"></span>Community Day</li>
								<li><span class="fa fa-check check-icon"></span>Welcome party</li>
								<li class="text-alt"><span class="highlight"> This pass does not include access to any workshops the day before the conference begins. Additional tickets will be required to attend any workshops.</span></li>
							</ul>
						</div>
						<a href="https://ti.to/gophercon/gophercon-2017" class="btn btn-lg">Buy now</a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="package-column">
						<h6 class="package-title">Workshops</h6>
						<div class="package-price">
							<span class="currency">$</span>295
						</div>
						<div class="package-detail">
							<ul>
								<li><span class="fa fa-check check-icon"></span>This ticket includes access to one all-day workshop on July 12th.  It is a separate admission from the conference.</li>
							<li class="text-alt"><span class="highlight"> It does not include access to the conference, please purchase a General Admission ticket for conference access..</li>
							</ul>
						</div>
						<a href="/workshops" class="btn btn-lg btn-outline-clr">Book Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="register" class="section overlay overlay-clr bg-cover bg4 light-text align-center">
		<div class="container">
			<h2>Register for GopherCon now!</h2>
			<br />
			<br />

			<a href="https://ti.to/gophercon/gophercon-2017" class="btn btn-lg btn-outline">Register</a>
		</div>
	</section>

	<section id="gallery" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-badges-votes-01"></span>
			<h3>Previous Events</h3>
			<p class="text-alt">see what we did <span class="highlight">in previous years</span></p>
			<br/>

			<div class="gallery masonry">
				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-1">
						<img src="/assets/public/img/gallery/gallery1-thumb.png" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-1">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

				<h5 class="heading-alt"></h5>
				<br/>

				<img src="/assets/public/img/gallery/gallery1.jpg" class="full-width-img" alt="gallery1">
			</div>
		</div>
		</span>

		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-2">
						<img src="/assets/public/img/gallery/gallery2-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-2">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery2.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>
		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-3">
						<img src="/assets/public/img/gallery/gallery3-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-3">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery3.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>

		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-4">
						<img src="/assets/public/img/gallery/gallery4-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-4">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery4.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>
		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-5">
						<img src="/assets/public/img/gallery/gallery5-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-5">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery5.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>

		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-6">
						<img src="/assets/public/img/gallery/gallery6-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-6">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery6.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>
		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-7">
						<img src="/assets/public/img/gallery/gallery7-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-7">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery7.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>

		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-8">
						<img src="/assets/public/img/gallery/gallery8-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-8">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery8.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>

		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-9">
						<img src="/assets/public/img/gallery/gallery9-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-9">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery9.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>
		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-10">
						<img src="/assets/public/img/gallery/gallery10-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-10">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery10.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>

		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-11">
						<img src="/assets/public/img/gallery/gallery11-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-11">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery11.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>

		<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-12">
						<img src="/assets/public/img/gallery/gallery12-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-12">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

		<h5 class="heading-alt"></h5>
		<br/>

		<img src="/assets/public/img/gallery/gallery12.jpg" class="full-width-img" alt="gallery1">
		</div>
		</div>
		</span>
		</div>

		</div>
	</section>

	<section id="sponsors" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-documents-bookmarks-12"></span>
			<h3>GopherCon Sponsors</h3>
			<p class="text-alt">companies that <span class="highlight">support us</span></p>
			<br/>
			<br/>

			<div class="sponsors">
			<h4>Platinum Sponsors</h4>
			<%=  for (sponsor) in homepage.Sponsors.Platinum {  %>
			<div class="sponsors">
				<a href="/sponsors/<%= sponsor.ID %>">	<img height="160"  src="https://cms.gophercon.com<%= sponsor.LogoURL %>" alt="<%= sponsor.Name %>"></a>
				<br/>
			<br/>
			</div>
			<% } %>
			<div >
				&npsb;
				<br/>&npsb;<br/>
				</div>

			<h5>Gold Sponsors</h5>

  <div class="sponsors">
	  <%= for (sponsor) in  homepage.Sponsors.Gold {  %>
  <div class="sponsor inline">
	  <a href="/sponsors/<%= sponsor.ID %>"><img width="175" src="https://cms.gophercon.com<%= sponsor.LogoURL %>" alt="<%= sponsor.Name %>"></a> </div>
  <% } %>
</div>

			<br/>
			<br/>
			<h6>Silver Sponsors</h6>
			<div class="sponsors">
				<%= for (sponsor) in homepage.Sponsors.Silver {  %>
				<div class="sponsor inline"><img height="75" width="175" src="https://cms.gophercon.com<%= sponsor.LogoURL %>" alt="<% sponsor.Name %>">

					<%= if (sponsor.ID == 6) { %>
					<h6 class="heading-alt"><a href="/sponsors/<%= sponsor.ID %>">Live Blogging Partner</a></h6>
					<% } %>
  </div>
  <% } %>
			<br/>
			<br/>
			<h6>Bronze Sponsors</h6>
			<div class="sponsors">
				<%= for (sponsor) in homepage.Sponsors.Bronze { %>
				<div class="sponsor inline"><img height="75" width="175" src="https://cms.gophercon.com<%= sponsor.LogoURL %>" alt="<%= sponsor.Name %>">

					<%= if  (sponsor.ID  == 6) { %>
					<h6 class="heading-alt"><a href="/sponsors/<%= sponsor.ID %>">Live Blogging Partner</a></h6>
					<% } %>
  </div>
  <% } %>
			</div>
			<!--Uncomment this section for additional sponsors-->
			<!-- <div class="sponsors">
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor1.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor2.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor3.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor4.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor5.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor6.png" alt=""></div>
			</div>
			<div class="sponsors">
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor9.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor10.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor1.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor2.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor3.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor4.png" alt=""></div>
			</div>
			<div class="sponsors">
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor5.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor6.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor7.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor3.png" alt=""></div>
			</div>

			<div class="sponsors">
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor2.png" alt=""></div>
				<div class="sponsor inline"><img src="/assets/public/img/sponsors/sponsor1.png" alt=""></div>
			</div>#}-->

			<div class="col-sm-12 align-center">
				<a href="/sponsors" class="btn btn-outline-clr btn-md">SPONSOR LIST</a>
			</div>
		</div>
	</section>

	<section id="location">
		<div class="location-wrapper">
			<div id="location-map" class="map" data-settings="/assets/public/js/map-settings.json" style="height:560px;"></div>

			<div class="container contacts-on-map-container">
				<div class="contacts-on-map">
					<h3>Location</h3>

					<ul class="list">
						<li><i class="fa fa-map-marker"></i> 700 14th St, Denver, CO 80202</li>
						<li><i class="fa fa-envelope"></i>gophercon@gopheracademy.com</li>
						<li><i class="fa fa-phone"></i>www.gophercon.com</li>
						<li><i class="fa fa-clock-o"></i>ALL DAY</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="footer">
		<div class="container">

			<div class="col-md-4">
				<div class="widget about-widget">
					<h6 class="widget-head">About <span class="highlight">GopherCon</span></h6>
					<p class="text-alt"><small>GopherCon, It is the largest event in the world dedicated solely to the Go programming language. It's attended by the best and the brightest of the Go team and community. Join us as 1,500 gophers converge on Denver, Colorado for 3 full days of talks, events, & hacking.</small></p>


					<img src="/assets/public/img/gophercon-143x105.png" alt="autograph">
				</div>
			</div>
			<div class="col-md-4 col-lg-3 col-lg-offset-1">
				<div class="widget twitter-widget">
					<h6 class="widget-head"><span class="fa fa-twitter"></span> Twitter Feed</h6>

					<ul class="tweets-list">
						<a class="twitter-timeline" href="https://twitter.com/hashtag/gophercon" data-widget-id="821915264618995712">#gophercon Tweets</a>
						<script>
							! function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0],
									p = /^http:/.test(d.location) ? 'http' : 'https';
								if (!d.getElementById(id)) {
									js = d.createElement(s);
									js.id = id;
									js.src = p + "://platform.twitter.com/widgets.js";
									fjs.parentNode.insertBefore(js, fjs);
								}
							}(document, "script", "twitter-wjs");
						</script>
					</ul>
				</div>
			</div>

			<div class="col-md-4 col-lg-3 col-lg-offset-1">
				<div class="widget instagram-widget">
					<h6 class="widget-head"><span class="fa fa-instagram"></span> Photo feed</h6>

					<ul class="instagram-list">
						<!-- InstaWidget -->
						<a href="https://instawidget.net/v/tag/GopherCon" id="link-d041909748e13a0e9e07e94b550519a0e3255641606c578f54ce324ccf0269b0">#GopherCon</a>
						<script defer src="https://instawidget.net/js/instawidget.js?u=d041909748e13a0e9e07e94b550519a0e3255641606c578f54ce324ccf0269b0&width=300px"></script>
					</ul>
				</div>
			</div>

		</div>

		<div class="footer-base">
			<div class="container">

				<div class="col-md-6">
					<ul class="footer-nav">
						<li class="footer-nav-item"><a href="/about/contact">Contact</a></li>
						<li class="footer-nav-item"><a href="/about/privacy">Privacy policy</a></li>
						<li class="footer-nav-item"><a href="/about/press">Press</a></li>
					</ul>
				</div>

				<div class="col-md-6 align-right">
					<ul class="socials-nav align-right">
						<li class="socials-nav-item"><a href="https://twitter.com/GopherCon/"><span class="fa fa-twitter"></span></a></li>
						<li class="socials-nav-item"><a href="https://www.facebook.com/gophercon/"><span class="fa fa-facebook"></span></a></li>
						<li class="socials-nav-item"><a href="https://github.com/gophercon"><span class="fa fa-github"></span></a></li>
						<li class="socials-nav-item"><a href="https://plus.google.com/events/cd4ge8g9t9mbmvgngpgli4qj0ls"><span class="fa fa-google-plus"></span></a></li>
						<li class="socials-nav-item"><a href="https://www.instagram.com/explore/tags/gophercon/"><span class="fa fa-instagram"></span></a></li>
						<p class="text-alt"><small>© Copyright 2017 GopherAcademy, LLC.</small></p>
					</ul>


				</div>

			</div>
		</div>
	</section>

	<!--<div class="modal-window" data-modal="email-ticket" style="background-color: rgba(2, 2, 2, 0.85);">
		<div class="modal-box small animated" data-animation="zoomIn" data-duration="700">

			<h5 class="align-center"><span class="highlight">Event Registration</span></h5>

			<!--<form class="form registration-form align-center">

				<fieldset class="col-sm-12">
					<label for="first_name">First Name</label>
					<input id="first_name" name="first_name" type="text">
				</fieldset>

				<fieldset class="col-sm-12">
					<label for="last_name">Last Name</label>
					<input id="last_name" name="last_name" type="text">
				</fieldset>

				<fieldset class="col-sm-12">
					<label for="email">Email</label>
					<input id="email" name="email" type="email">
				</fieldset>

				<fieldset class="col-sm-6">
					<label for="pass1">Ticket type</label>
					<select id="pass1" name="pass1">
						<option value="" selected disabled>-- Select --</option>
						<option value="0">General Admission</option>
						<option value="1">Silver Pass</option>
						<option value="2">GopherCon Hoodie!</option>
						<option value="3">Ultimate Mega Ultra Legendary Pass</option>
					</select>
				</fieldset>

				<fieldset class="col-sm-6">
					<label for="pass2"># tickets</label>
					<select id="pass2" name="pass2">
						<option value="a">Variant A</option>
						<option value="b">Variant B</option>
						<option value="c">Variant C</option>
						<option value="d">Variant D</option>
						<option value="e">Variant E</option>
						<option value="f" disabled>Variant F</option>
						<option value="g">Variant G</option>
						<option value="h">Variant H</option>
						<option value="i">Variant I</option>
						<option value="j">Variant J</option>
						<option value="k">Variant K</option>
						<option value="l">Variant L</option>
						<option value="m">Variant M</option>
					</select>
				</fieldset>

				<fieldset class="col-sm-12">
					<input id="privacy" name="privacy" type="checkbox"><label for="privacy">I read & agree with <a href="#">Terms of service</a> </label>
					<br />
					<br />
				</fieldset>

				<input type="submit" value="submit" class="btn">
			</form>-->

	</div>
	</div>

	<div class="modal-window" data-modal="0" style="background-color: rgba(2, 2, 2, 0.85);">
		<div class="modal-box iframe-box iframe-video">
			<span class="close-btn icon icon-office-52"></span>

			<iframe width="100%" height="370" src="https://www.youtube.com/embed/616jvCSR0cg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="/assets/public/js/jquery-1.11.3.min.js?ver=1"></script>
	<![endif]-->
	<!--[if (gte IE 9) | (!IE)]><!-->
	<script type="text/javascript" src="/assets/public/js/jquery-2.1.4.min.js?ver=1"></script>
	<!--<![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40886074-1', 'auto');
  ga('send', 'pageview');

</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIxsbjhVtRa3F7nSXVJWQY4oiXL9ROiuE=3&libraries=places"></script>
	<script type="text/javascript" src="/assets/public/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/assets/public/js/toastr.min.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.waypoints.min.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.appear.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.plugin.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.countdown.js"></script>
	<script type="text/javascript" src="/assets/public/js/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="/assets/public/js/modal-box.js"></script>
	<script type="text/javascript" src="/assets/public/js/ventcamp.js"></script>
</body>

</html>
