<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>GopherCon 2017</title>

	<meta name="description" content="GopherCon 2017 is the first and largest Go conference in the world.  Join golang developers from across the globe in Denver for 3 days of amazing learning, community events and fun.">
	<meta name="keywords" content="gophercon, go, golang, go conference">
	<meta name="author" content="Gopher Academy">

	<link rel="shortcut icon" href="/assets/public/img/favicon.ico">
	<link rel="apple-touch-icon" href="/assets/public/img/apple-touch-icon.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/public/img/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/public/img/apple-touch-icon-114x114.jpg">

	<link rel="stylesheet" type="text/css" href="/assets/public/css/custom-animations.css" />
	<link rel="stylesheet" type="text/css" href="/assets/public/css/style.css" />

	<!--[if lt IE 9]>
		<script src="/assets/public/js/html5shiv.js"></script>
		<script src="/assets/public/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	{{ partial "partials/headerinside.html" }}



	{{ yield }}

	<section class="footer">
		<div class="container">

			<div class="col-md-4">
				<div class="widget about-widget">
					<h6 class="widget-head">About <span class="highlight">GopherCon</span></h6>
					<p class="text-alt"><small>GopherCon, It is the largest event in the world dedicated solely to the Go programming language. It's attended by the best and the brightest of the Go team and community. Join us as 1,500 gophers converge on Denver, Colorado for 3 full days of talks, events, & hacking.</small></p>


					<img src="/assets/public/img/gophercon-143x105.png" alt="autograph">
				</div>
			</div>

			<div class="col-md-4 col-lg-3 col-lg-offset-1">
				<div class="widget twitter-widget">
					<h6 class="widget-head"><span class="fa fa-twitter"></span> Twitter Feed</h6>

					<ul class="tweets-list">
						<a class="twitter-timeline" href="https://twitter.com/hashtag/gophercon" data-widget-id="821915264618995712">#gophercon Tweets</a>
						<script>
							! function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0],
									p = /^http:/.test(d.location) ? 'http' : 'https';
								if (!d.getElementById(id)) {
									js = d.createElement(s);
									js.id = id;
									js.src = p + "://platform.twitter.com/widgets.js";
									fjs.parentNode.insertBefore(js, fjs);
								}
							}(document, "script", "twitter-wjs");
						</script>
					</ul>
				</div>
			</div>

			<div class="col-md-4 col-lg-3 col-lg-offset-1">
				<div class="widget instagram-widget">
					<h6 class="widget-head"><span class="fa fa-instagram"></span> Photo feed</h6>

					<ul class="instagram-list">
						<!-- InstaWidget -->
						<a href="https://instawidget.net/v/tag/GopherCon" id="link-d041909748e13a0e9e07e94b550519a0e3255641606c578f54ce324ccf0269b0">#GopherCon</a>
						<script src="https://instawidget.net/js/instawidget.js?u=d041909748e13a0e9e07e94b550519a0e3255641606c578f54ce324ccf0269b0&width=300px"></script>
					</ul>
				</div>
			</div>

		</div>

		<div class="footer-base">
			<div class="container">

				<div class="col-md-6">
					<ul class="footer-nav">
						<li class="footer-nav-item"><a href="/about/contact">Contact</a></li>
						<li class="footer-nav-item"><a href="/about/privacy">Privacy policy</a></li>
						<li class="footer-nav-item"><a href="/about/press">Press</a></li>
					</ul>
				</div>

				<div class="col-md-6 align-right">
					<ul class="socials-nav align-right">
						<li class="socials-nav-item"><a href="https://twitter.com/GopherCon/"><span class="fa fa-twitter"></span></a></li>
						<li class="socials-nav-item"><a href="https://www.facebook.com/gophercon/"><span class="fa fa-facebook"></span></a></li>
						<li class="socials-nav-item"><a href="https://github.com/gophercon"><span class="fa fa-github"></span></a></li>
						<li class="socials-nav-item"><a href="https://plus.google.com/events/cd4ge8g9t9mbmvgngpgli4qj0ls"><span class="fa fa-google-plus"></span></a></li>
						<li class="socials-nav-item"><a href="https://www.instagram.com/explore/tags/gophercon/"><span class="fa fa-instagram"></span></a></li>
						<p class="text-alt"><small>© Copyright 2017 GopherAcademy, LLC.</small></p>
					</ul>


				</div>

			</div>
		</div>
	</section>

	<!-- phone1.jpg -->

	<!--[if lt IE 9]>
		<script type="text/javascript" src="/assets/public/js/jquery-1.11.3.min.js?ver=1"></script>
	<![endif]-->
	<!--[if (gte IE 9) | (!IE)]><!-->
	<script type="text/javascript" src="/assets/public/js/jquery-2.1.4.min.js?ver=1"></script>
	<!--<![endif]-->

	<script type="text/javascript" src="/assets/public/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/assets/public/js/toastr.min.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.waypoints.min.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.appear.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.plugin.js"></script>
	<script type="text/javascript" src="/assets/public/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="/assets/public/js/ventcamp.js"></script>
</body>

</html>
