
<section class="section">
    <div class="container">
        <div class="col-sm-6 align-right">
            <article style="max-width: 480px;">
                <h3>Coming Soon</h3>
                <p><small class="text-alt">We're working on this!</small></p>
                <p>Please come back shortly for more information.</p>
            </article>
        </div>

        <div class="col-sm-6 align-center img-column">
            <img src="https://assets.gophercon.com/public/img/gopheracademy-logo.png" height="372" width="372" alt="" />
        </div>
    </div>
</section>

