	<section class="section align-center">
		<div class="container">
			<h5 class="heading-alt">Platinum Sponsors</h5>
			<br/>
			<br/>

			<div class="sponsors">
				<%= for (sponsor) in sponsors.Platinum  { %> 
				<div class="sponsor big"><a href="/sponsors/<%= sponsor.ID %>"><img src="https://cms.gophercon.com<%=  sponsor.LogoURL %>" alt="<%= sponsor.Name %>"></a></div>
				<h6 class="heading-alt"><a href="/sponsors/<%= sponsor.ID %>">More about <%= sponsor.Name %></a></h6>
				<% } %>
			</div>

		</div>
	</section>

	<section class="section align-center">
		<div class="container">
			<h5 class="heading-alt">Gold Sponsors</h5>
			<br/>
			<br/>

			<div class="sponsors big">
				<%= for (sponsor) in sponsors.Gold { %> 
				<div class="sponsor inline"><a href="/sponsors/<%= sponsor.ID %>"><img src="https://cms.gophercon.com<%=  sponsor.LogoURL %>" alt="<%= sponsor.Name %>"></a></div>
				<h6 class="heading-alt"><a href="/sponsors/<%= sponsor.ID %>">More about <%= sponsor.Name %></a></h6>
				<% } %>
			</div>

		</div>
	</section>
	<section class="section align-center">
	<div class="container">
			<h5 class="heading-alt">Silver Sponsors</h5>
			<br/>
			<br/>

			<div class="sponsors">

				<%= for (sponsor) in sponsors.Silver { %> 
				<div class="sponsor inline"><img  src="https://cms.gophercon.com<%=  sponsor.LogoURL %>" alt="<%=  sponsor.Name %>"></div>

					<%= if(sponsor.ID == 6) { %> 
					<h6 class="heading-alt"><a href="/sponsors/<%= sponsor.ID %>">Live Blogging Partner</a></h6>
					<% } %>	
  </div>
  <% } %>
			</div>

		</div>
	</section>
	<section class="section align-center">
	<div class="container">
			<h5 class="heading-alt">Bronze Sponsors</h5>
			<br/>
			<br/>

			<div class="sponsors">

				<%= for (sponsor) in sponsors.Bronze { %> 
				<div class="sponsor inline"><img src="https://cms.gophercon.com<%= sponsor.LogoURL %>" alt="<%= sponsor.Name %>"></div>
				<% } %>
			</div>

		</div>
	</section>
